@use "sass:color";
@use "use" as *;

@import "./import.css";

$var-name: "prop" !default;
$bg: rgba(#ddd, 0.3) !default;

.scss-example {
    @include use-mixin;
    --color-theme: hsl(270 50% 40%);
    --#{$var-name}: "value";
    color: 0 0 0 $bg;

    @if $var-name {
        // if true
    } @else {
        // if false
    }

    @for $i from 1 through 3 {
        ul:nth-child(3n + #{$i}) {
            background-color: color.change($bg, $lightness: ($i * 5%));
        }
    }
}
