---
const greeting = "hello there";
const foregroundColor = "rgb(221 243 228)";
const backgroundColor = "rgb(24 121 78)";
---

<p class="greeting">{greeting}</p>

<style define:vars={{ foregroundColor, backgroundColor }}>
  h1 {
    background-color: var(--backgroundColor);
    color: var(--foregroundColor);
  }

  article :global(h1) {
    color: blue;
  }

  .text {
    color: blue;
  }
</style>
